<footer id="contact" >
	<svg class="contact-shape-1" width="403" height="585" viewBox="0 0 403 585" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M48.8174 64.1905C24.4174 0.990467 277.984 -3.80953 407.817 1.69047V517.69C432.151 518.524 443.317 530.89 293.317 573.69C105.817 627.19 -78.6826 470.69 34.8174 382.69C148.317 294.69 79.3174 143.19 48.8174 64.1905Z" fill="url(#paint0_linear)"/>
		<defs>
		<linearGradient id="paint0_linear" x1="394.5" y1="1.30142e-05" x2="110.5" y2="560" gradientUnits="userSpaceOnUse">
		<stop stop-color="#00FF64"/>
		<stop offset="1" stop-color="#5CFF9C"/>
		</linearGradient>
		</defs>
	</svg>

	<div class="container">
		<div class="contact-holder">
			<div class="contact-text">
				<h1>Looking for an appointment?</h1>
				<p>If you have any questions, or comments you can  <br>
				   get in touch with us, you can also schudule <br>
				  appointment straight with an expert.</p>
				  <h2>Open 365 days a year:</h2>
				  <p>
				  	Monday – Thursday 9am – 7pm <br>
					Friday-Sunday – 9am-5pm <br>
					Holidays – 8am – 2pm <br>

				  </p>
			</div>
			<form  action="/thanks">
				<div class="input-holder">
				<h2 style="color:grey">Let us talk </h2>
					<input required="required" type="Name" placeholder="Name">
					<input required="required" type="Email" placeholder="Your Healthiest Email">
					<textarea required="required" placeholder="let us know :)"></textarea>
					<button>Forward it to us</button>
				</div>
			</form>
		</div>
	</div>

	<svg class="contact-shape-2" width="247" height="286" viewBox="0 0 247 286" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M224.5 285.5C314.5 -13.7001 112.333 -19.5001 0 14.9999V285.5H224.5Z" fill="url(#paint0_linear)"/>
		<defs>
		<linearGradient id="paint0_linear" x1="123.478" y1="0.620117" x2="123.478" y2="285.5" gradientUnits="userSpaceOnUse">
		<stop stop-color="#00FF64"/>
		<stop offset="1" stop-color="#9FFF94"/>
		</linearGradient>
		</defs>
	</svg>
	<h3>© All right reserved to healthier icu 2020.</h3>
</footer> 